# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
.ruff_cache/
.mypy_cache/
.pytest_cache/
build/

# Data (tracked by DVC)
data/raw/
data/processed/
data/cache/
*.dvc
!.dvc
!.dvc/**

# Models
*.onnx
*.pt
*.pth

# Notebooks checkpoints
.ipynb_checkpoints/

# Env
.env
*.env
.env.ai

# W&B
wandb/

# ZenML
.zenml/

# OS
.DS_Store
desktop.ini

# Non-app archived content
non_app_archive/
